body {
    background-color: rgb(61, 61, 61);
}

.answer_erea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 80px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.ans_string {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: auto;
    color: aliceblue;
    width: 340px;
    height: 80px;
    vertical-align: middle;
}

.container {
    white-space: nowrap;
    display: flex;
}

.item {
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0);
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.num {
    font-size: large;
    color: rgb(145, 190, 255);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num:hover {
    background-color: rgba(30, 30, 30, 0.6);
}

.num0 {
    font-size: large;
    color: rgb(145, 190, 255);
    width: 167px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num0:hover {
    background-color: rgba(30, 30, 30, 0.6);
}

.symbol {
    font-size: large;
    color: rgb(70, 70, 70);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 217, 92, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol:hover {
    background-color: rgba(255, 245, 112, 0.6);
}

.symbol1 {
    font-size: large;
    color: rgb(65, 65, 65);
    width: 80px;
    height: 80px;
    background-color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol1:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

.zero {
    display: inline-block;
    cursor: pointer;
    width: 167px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0);
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
}
